<% if @user == current_user%>

    <h1>Bienvenue sur notre calendrier Montpellier</h1>
    <h2>Retrouvez toutes les fêtes autour de Montpellier</h2>

        <p>Connectez vous en cliquant sur ce <%= link_to "lien", new_user_session_path%>  et vous pourrez créer votre propre fête</p>

        <% @events.each do |event|%>
            <p>Aministrateur: <%=event.administrator.first_name%></p>
            <p>Nom de l'événement :<%=event.title%></p>    
            <p>Pour voir plus de détails <%= link_to "clique ici", event_path(event)%></p>
            <hr/>
        <% end %>

        
<% else %>
        <h1>Bienvenue sur votre calendrier Montpellier</h1>
        <h2>Retrouvez toutes les fêtes autour de chez-vous</h2>

        <p>En cliquant sur ce <%= link_to "lien", new_event_path%>  vous pourrez créer votre propre fête</p>

        <% @events.each do |event|%>
            <p>Nom de l'événement :<%=event.title%></p>
            <%if current_user == @user%>
            <p>Votre compte: <a href="<%=user_path(current_user)%>"><%=event.administrator.first_name%></a></p>
            <% else %>
             <p>administrateur: <%=event.administrator.first_name%></p>
            <% end %>
            <p>Pour voir plus de détails <%= link_to "clique ici", event_path(event)%></p>
            <hr/>
        <% end %>
<%end%>
