<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <fieldset>
        <div class="form-group">
          <legend class="center">Se connecter</legend>
          <label for="exampleInputEmail1">Adresse mail</label>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          <small id="emailHelp" class="form-text text-muted">Ton adresse sera revendu au plus offrant</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Mot de passe</label>
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <button type="submit" class="btn btn-primary">Connexion</button>
        </div>
      </fieldset>
    <% end %>
  </body>
</html>
